.idea/
/bin/
/lib/
lib64
projectnotes.txt
pyvenv.cfg
/venv/
configs.ini

### React

mysite/node_modules
mysite/.pnp
mysite/.pnp.js

# testing
mysite/coverage

# production
mysite/build

# misc
mysite/.DS_Store
mysite/.env.local
mysite/.env.development.local
mysite/.env.test.local
mysite/.env.production.local

mysite/npm-debug.log*
mysite/yarn-debug.log*
mysite/yarn-error.log*
*.pyc
