.idea/
/bin/
/lib/
lib64
projectnotes.txt
pyvenv.cfg
/venv/
configs.ini
mysite/gamedata/migrations/

### React

fesite/node_modules
fesite/.pnp
fesite/.pnp.js

# testing
fesite/coverage

# production
fesite/build

# misc
fesite/.DS_Store
fesite/.env.local
fesite/.env.development.local
fesite/.env.test.local
fesite/.env.production.local

fesite/npm-debug.log*
fesite/yarn-debug.log*
fesite/yarn-error.log*
*.pyc
apiaccess.ini
